<div class="jumbotron">
    <form class="login-main">
        <div><span class="login-icon fa fa-user-circle fa-2x"></span><label for="username"
                                                                            class="login-field">Username:</label><input
                class="form-control" id="username" type="text" name="username"/></div>
        <div><span class="login-icon fa fa-lock fa-2x"></span><label for="password"
                                                                     class="login-field">Password:</label><input
                class="form-control" id="password" type="password" name="password"/></div>
        <a class="btn btn-sm btn-success" ng-href="/">Log In<span class="fa fa-ok"></span></a>
        <a class="btn btn-sm btn-info" ng-href="/">Register<span class="fa fa-ok"></span></a>
    </form>
</div>