<ion-view view-title="Admin" name="dashboard-view">
  <ion-nav-buttons>
    <button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
  </ion-nav-buttons>

  <ion-content class="padding">
      <div class="row center table_size">
        <div class="col card" align = "center">
          <h3 class = "title row-center" style="text-align:center"> View Pending City Officials </h3>

          <table align="center">
          <tr>
          <th class="text-center" colspan="1">Select</th>
          <th class="text-center" colspan="1">Username</th>
          <th class="text-center" colspan="1">Email</th>
          <th class="text-center" colspan="1">City</th>
          <th class="text-center" colspan="1">State</th>
          <th class="text-center" colspan="1">Title</th>
          </tr>
        <tr ng-repeat="i in data">
          <td><input type="checkbox"></td>
          <td>{{i.username}}</td>
          <td>{{i.email}}</td>
          <td>{{i.city}}</td>
          <td>{{i.state}}</td>
          <td>{{i.title}}</td>
        </tr>
        <tr>
        </tr>
          </table>
        <div class = "three_quarter_size">
        <button class="button button-block button-balanced"   ng-click="accept()">Accept</button>
        <button class="button button-block button-assertive" ng-click="reject()">Reject</button>
        </div>
        </div>
    </div>


  </ion-content>
</ion-view>
