<ion-view view-title="Pending Data Points" name="dashboard-view">
  <ion-nav-buttons>
    <button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="row center table_size">
      <div class="col card" align = "center">
        <h3 class = "title row-center" style="text-align:center"> View Pending Data Points</h3>
        <table class="table_size2" align="center">
          <tr>
            <th class="text-center" colspan="1">Select</th>
            <th class="text-center" colspan="1">
              <a style="color:red" ng-click="orderByField='location_name'; reverseSort = !reverseSort">
              Location Name
              </a>
            </th>
            <th class="text-center padding-right-custom" colspan="1">
              <a style="color:red" ng-click="orderByField='data_type'; reverseSort = !reverseSort">
              Data Type
              </a>
            </th>

            <th class="text-center padding-right-custom" colspan="1">
              <a style="color:red" ng-click="orderByField='data_value'; reverseSort = !reverseSort">
              Data Value
              </a>
            </th>

            <th class="text-center padding-right-custom" colspan="1">
              <a style="color:red" ng-click="orderByField='date_time'; reverseSort = !reverseSort">
              Time and Date of Reading
              </a>
            </th>
          </tr>
          <tr ng-repeat="i in pendingData">
            <td class="text-center padding-right-custom" colspan="1"><input type="checkbox" ng-model="i.checked">{{i.checked}}</td>
            <td class="text-center padding-right-custom" colspan="1">{{i.location_name}}</td>
            <td class="text-center padding-right-custom" colspan="1">{{i.data_type}}</td>
            <td class="text-center padding-right-custom" colspan="1">{{i.data_value}}</td>
            <td class="text-center padding-right-custom" colspan="1">{{i.date_time}}</td>
          </tr>
        </table>
      </div>

    </div>


  </ion-content>
    <div class="bar bar-footer">
      <div class="center">
        <button class="button button-large button-balanced"  ng-click="submit('Accept')">Accept</button>
        <button class="button button-large button-assertive" ng-click="submit('Reject')">Reject</button>
      </div>
    </div>
</ion-view>
