<ion-view view-title="Pending Data Points" name="dashboard-view">
  <ion-nav-buttons>
    <button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="row center table_size">
      <div class="col card" align = "center">
        <h3 class = "title row-center" style="text-align:center"> View Pending Data Points</h3>

    <table align="center">
        <tr>
        <th class="text-center" colspan="1">Select</th>
        <th class="text-center" colspan="1">POI Location</th>
        <th class="text-center" colspan="1">Data Type</th>
        <th class="text-center" colspan="1">Data Value</th>
        <th class="text-center" colspan="1">Time and Date of Reading</th>
        </tr>
      <tr ng-repeat="i in pendingData">
        <td><input type="checkbox"></td>
        <td>{{i.location}}</td>
        <td>{{i.dataType}}</td>
        <td>{{i.dataValue}}</td>
        <td>{{i.timeDate}}</td>
      </tr>
        </table>
        </div>
      </div>
  </ion-content>
</ion-view>
