<ion-view view-title="Add New Location" name="location-view">
  <ion-nav-buttons>
    <button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="row">
      <div class="col card">
        <h3 class = "title row-center" style="text-align:center"> Add a  New Location</h3>

        <div class="list list-inset">
          <label class="item item-input">
            <input ng-model="data.location_name" type="text" placeholder="POI Location Name">
          </label>
          <label class="item">
            City:
            <select class = "icon-left" ng-model="data.city" ng-options="poi.city as poi.city for poi in poiInfo | unique:'city' ">
            </select>

          </label>
          <label class="item ">
            State:
            <select class = "icon-left" ng-model="data.state" ng-options="poi.state as poi.state for poi in poiInfo | unique:'state' ">
            </select>
          </label>
          <label class="item item-input">
            <input ng-model="data.zip" type="text" placeholder="Zip Code">
          </label>
        </div>
        <!--  ADD METHOD CALLS FOR BACK AND SUBMIT -->
        <div class = "three_quarter_size" style="margin: 0 auto; width: 656px; text-align: center;">
        <button class="button button-block button-calm"  ng-click="submit()">Submit</button>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
