<ion-view view-title="location" name="location-view">
  <ion-content class="padding">
    <h3 class = "title row-center"> Add a  New Location  </h3>
    <div class="row">
      <div class="col card">
        <div class="list list-inset">
          <label class="item item-input">
            <input ng-model="location" type="text" placeholder="POI Location Name">
          </label>
          <label class="item">
            City:
            <select ng-model="city" ng-options="val for val in methodThatQueriesAllCities">
              <option value="">Select</option>
            </select>

          </label>
          <label class="item ">
            State:
            <select ng-model="state" ng-options="val for val in methodThatQueriesAllStates">
              <option value="">Select</option>
            </select>
          </label>
          <label ng-model="zip" class="item item-input">
            <input type="text" placeholder="Zip Code">
          </label>
        </div>
        <!--  ADD METHOD CALLS FOR BACK AND SUBMIT -->

        <button class="button button-block button-calm" ng-click="submit()">Submit</button>
        <button class="button button-block button-positive" ng-click="goBack()">Back</button>

      </div>
    </div>
  </ion-content>
</ion-view>
