<ion-view view-title="CS4400 Project Phase 3">
<ion-nav-buttons>
<button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
</ion-nav-buttons>

<ion-content>
<div class="row half_wide">
<div class="card center">
<div class="list">
<div class="item item-input-inset">
<label class="item">
Data Type
</label>
<select class="item item-input-wrapper" ng-model="dataType">
<option value=""> 1 </option>
<option value=""> 2 </option>
<option value=""> 3 </option>
</select>
</div>
</div>
<div class="list">
<div class="item item-input-inset">
<label class="item">
Data Value
</label>
<label class="item item-input-wrapper">
<input type="text"  ng-model="dataValueLow">
</label>
<label class="item">
To
</label>
<label class="item item-input-wrapper">
<input type="text"  ng-model="dataValueHigh">
</label>
</div>
</div>
<div class="list">
<div class="item item-input-inset">
<label class="item">
Time and Date
</label>
<label class="item item-input-wrapper">
<input type="text" ng-model="start">
</label>
<label class="item">
To
</label>
<label class="item item-input-wrapper">
<input type="text" ng-model="end">
</label>
</div>
</div>
<div class="list">
<div class="item item-input-inset">
<button class="item-input-inset button button-block button-calm">Apply Filter</button>
<div class="item-input-inset"></div>
<button class="item-input-inset button button-block button-calm">Reset Filter</button>
</div>
</div>
<div align="center">
<table align="center">
<tr>
<th class="text-center" colspan="1">Data Type</th>
<th class="text-center" colspan="1">Data Value</th>
<th class="text-center" colspan="1">Time and Date</th>
</tr>
<tr ng-repeat="i in data">
<td>{{i.dataType}}</td>  
<td>{{i.dataValue}}</td>  
<td>{{i.timeDate}</td>           
</tr>
</table>
</div>


<div class="list">
<div class="item item-input-inset">
<button class="item-input-inset button button-block button-calm">Flag</button>
</div>
</div>
</div>
</div>
</ion-content>
</ion-view>