<ion-view view-title="CS4400 Project Phase 3">
<ion-nav-buttons>
<button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack('viewPOI')">Back</button>

</ion-nav-buttons>
    <ion-content>
        <div class="row center half_size">
            <div class="col card">
                <h3 class = "title row-center" style="text-align:center"> POI Detail for {{formData.location_name}} </h3>
                 <div class="list">
                    <label class="item item-input">
                      <div class="input-label" style="width:20px; padding-right:40px">
                        Data Type
                      </div>
                      <select ng-model="formData.data_type" ng-options="t.type as t.type for t in data">
                      </select>
                    </label>
                </div>

                <div class="list">
                  <div class="item item-input-inset">
                    <div class="input-label" style="width:20px; padding-right:40px">
                             Data Value
                    </div>
                    <label class="input-label form_size">
                       <input type="text" placeholder="Min" ng-model="formData.dataValueLow" style="max-width:40px">
                    </label>
                    <label class="input-label form_size">
                        <input type="text" placeholder="Max" ng-model="formData.dataValueHigh" style="max-width:40px">
                    </label>
                  </div>
                </div>

                 <div class="list">
                  <div class="item item-input-inset">
                   <div class="input-label" style="width:20px; padding-right:40px">
                             Time/Date Range 
                    </div>
                    <label>
                      <input type="datetime-local" ng-model="formData.start">
                    </label>
                    <label class="right-margin"> to </label>
                    <label>
                      <input type="datetime-local" ng-model="formData.end">
                    </label>
                  </div>
                </div>



                <div class="item-input-inset">
                    <button class="button button-block button-calm" ng-click="applyFilter()">Apply Filter</button>
                <div class="item-input-inset"></div>
                    <button class="button button-block button-calm" ng-click="resetFilter()">Reset Filter</button>
                </div>

                <div align="center" ng-show="didQuery">
                    <table align="center">
                    <tr>
                        <th class="text-center" colspan="1">Data Type</th>
                        <th class="text-center" colspan="1">Data Value</th>
                        <th class="text-center" colspan="1">Time and Date</th>
                    </tr>
                    <tr ng-repeat="i in data" align="center">
                        <td>{{i.dataType}}</td>
                        <td>{{i.dataValue}}</td>
                        <td>{{i.timeDate}}</td>
                    </tr>
                    </table>
                </div>

                <div class="item-input-inset">
                <button class="item-input-inset button button-block button-calm" ng-click="flag()">Flag</button>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
