<ion-view view-title="City Official" name="POIreports-view">
  <ion-nav-buttons>
    <button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-content class="padding">
      <div class="row center table_size">
        <div class="col card card_opacity"  align = "center">
          <table align="center">
            <tr>
            <th class="text-center padding-right-custom padding-left" colspan="1">POI Location</th>
            <th class="text-center padding-right-custom" colspan="1">City</th>
            <th class="text-center padding-right-custom" colspan="1">State</th>
            <th class="text-center padding-right-custom" colspan="1">Mold Min</th>
            <th class="text-center padding-right-custom" colspan="1">Mold Avg</th>
            <th class="text-center padding-right-custom" colspan="1">Mold Max</th>
            <th class="text-center padding-right-custom" colspan="1">AQ Min</th>
            <th class="text-center padding-right-custom" colspan="1">AQ Avg</th>
            <th class="text-center padding-right-custom" colspan="1">AQ Max</th>
            <th class="text-center padding-right-custom" colspan="1"># Points</th>
            <th class="text-center padding-right-custom" colspan="1">Flagged?</th>
            </tr>
          <tr ng-repeat="p in pendingData">
            <td>test</td>
            <td>{{p.location}}</td>
            <td>{{p.city}}</td>
            <td>{{p.state}}</td>
            <td>{{p.moldMin}}</td>
            <td>{{p.moldAvg}}</td>
            <td>{{p.moldMax}}</td>
            <td>{{p.aqMin}}</td>
            <td>{{p.aqAvg}}</td>
            <td>{{p.aqMax}}</td>
            <td>{{p.numData}}</td>
            <td>{{p.flagged}}</td>
          </tr>
            </table>

  </ion-content>
</ion-view>
