<!-- <ion-view view-title="POI Report" name="POIreports-view">
  <ion-nav-buttons>
    <button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-content class="padding">
      <div class="row center table_size">
        <div class="col card card_opacity"  align = "center">
          <table align="center">
            <tr>
            <th class="text-center padding-right-custom padding-left" colspan="1">POI Location</th>
            <th class="text-center padding-right-custom" colspan="1">City</th>
            <th class="text-center padding-right-custom" colspan="1">State</th>
            
            <th class="text-center padding-right-custom" colspan="1"><a href="#" ng-click="orderByField='mold_min'; reverseSort = !reverseSort">
            Mold Min 
            </a></th>

            <th class="text-center padding-right-custom" colspan="1"><a href="#" ng-click="orderByField='mold_avg'; reverseSort = !reverseSort">
            Mold Avg
            </a></th>
            
            <th class="text-center padding-right-custom" colspan="1"><a href="#" ng-click="orderByField='mold_max'; reverseSort = !reverseSort">
            Mold Avg
            </a></th>

            <th class="text-center padding-right-custom" colspan="1"><a href="#" ng-click="orderByField='aq_min'; reverseSort = !reverseSort">
            AQ Min
            </a></th>
            <th class="text-center padding-right-custom" colspan="1"><a href="#" ng-click="orderByField='aq_avg'; reverseSort = !reverseSort">
            AQ Avg
            </a></th>

            <th class="text-center padding-right-custom" colspan="1"><a href="#" ng-click="orderByField='aq_max'; reverseSort = !reverseSort">
            AQ Max
            </a></th>
            <th class="text-center padding-right-custom" colspan="1"># of data points</th>
            <th class="text-center padding-right-custom" colspan="1">Flagged?</th>
            </tr>
            <tr ng-repeat="point in reports|orderBy:orderByField:reverseSort">
            <td>test</td>
            <td>{{point.location}}</td>
            <td>{{point.city}}</td>
            <td>{{point.state}}</td>
            <td>{{point.moldMin}}</td>
            <td>{{point.moldAvg}}</td>
            <td>{{point.moldMax}}</td>
            <td>{{point.aqMin}}</td>
            <td>{{point.aqAvg}}</td>
            <td>{{point.aqMax}}</td>
            <td>{{point.numData}}</td>
            <td>{{point.flagged}}</td>
          </tr>
            </table>

  </ion-content>
</ion-view> -->

<ion-view view-title="POI Report" name="POIreports-view">
  <ion-nav-buttons>
    <button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-content class="padding">
      <div class="row center table_size">
        <div class="col card card_opacity"  align = "center">
          

          <section ng-app="app" ng-controller="POIreportsCtrl">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <a ng-click="orderByField='firstName'; reverseSort = !reverseSort">
          First Name <span ng-show="orderByField == 'firstName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a  ng-click="orderByField='lastName'; reverseSort = !reverseSort">
            Last Name <span ng-show="orderByField == 'lastName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a ng-click="orderByField='age'; reverseSort = !reverseSort">
          Age <span ng-show="orderByField == 'age'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="emp in data|orderBy:orderByField:reverseSort">
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.age}}</td>
      </tr>
    </tbody>
  </table>
</section>


  </ion-content>
</ion-view>

