
<ion-view view-title="View POIs">

<ion-nav-buttons>
<button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
</ion-nav-buttons>

  <ion-content class="padding">
    <div class="row center half_size">
      <div class="col card">
        <h3 class = "title row-center" style="text-align:center"> View POI </h3>
        
        <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                POI Location Name: 
              </div>
              <select ng-model="data.location_name" ng-options="poi.location_name as poi.location_name for poi in field_data">
               <option> </option>
              </select>
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                City: 
              </div>
              <select ng-model="data.city" ng-options="poi.city as poi.city for poi in field_data | unique:'city' ">
                <option></option>
              </select>
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                State: 
              </div>
              <select ng-model="data.state" ng-options="poi.state as poi.state for poi in field_data | unique:'state' "">
                <option></option>
              </select>
            </label>
        </div>

        <label class="item item-input">
          <span class="input-label">ZIP Code</span>
          <input type="text" ng-model="data.zip_code">
        </label>

        <label class="item item-input">
          Flagged?
          <ion-item>
            <ion-checkbox ng-model="data.checked"/>
          </ion-item>
        </label>

        <div class="list">
          <div class="item item-input-inset">
            <label class="right-margin"> Date Flagged: </label>
            <label class="right-margin">
              <input type="date" ng-model="data.start">
            </label>
            <label class="right-margin"> to </label>
            <label class="right-margin">
              <input  class="right-margin" type="date" ng-model="data.end">
            </label>
          </div>
        </div>

            
        <!--  ADD METHOD CALLS FOR BACK AND SUBMIT -->
        <div align="center">
          <button class="button button-block button-calm half_size" ng-click="applyFilter()" style="max-width:50%">Apply Filter</button>
          <button class="button button-block button-positive half_size " ng-click="resetFilter()" style="max-width:50%">Reset Filter</button>
        </div>
       
        <div align="center">
          <hr>
          <table align="center">
            <tr>
              <th class="text-center" colspan="1">Location Name</th>
              <th class="text-center" colspan="1">City</th>
              <th class="text-center" colspan="1">State</th>
              <th class="text-center" colspan="1">Zip code</th>
              <th class="text-center" colspan="1">Flagged?</th>
              <th class="text-center" colspan="1">Date Flagged</th>
            </tr>

            <tr ng-repeat="i in poiInfo" ng-click="viewPOIDetail(i.location_name)">
              <td>{{i.location_name}}</td>  
              <td>{{i.city}}</td>  
              <td>{{i.state}}</td>  
              <td>{{i.zip_code}}</td> 
              <td>{{i.flag}}</td> 
              <td>{{i.date_flagged}}</td>          
            </tr>

        </table>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

