<ion-view view-title="CS4400 Project Phase 3">
<ion-nav-buttons>
<button class="button icon ion-ios-arrow-back button-clear" ng-click="goBack()">Back</button>
</ion-nav-buttons>
  <ion-content class="padding">
    <div class="row center half_size">
      <div class="col card">
        <h3 class = "title row-center" style="text-align:center"> View POI </h3>

            <div class="list list-inset">
          <label class="item">
            POI Location Name: 
            <select class="menu-left" ng-model="data.location_name" ng-options="poi.id as poi.location_name for poi in poiInfo "></select>
          </label>
          <label class="item ">
            City:
            <select class = "icon-left" ng-model="data.city" ng-options="poi.id as poi.city for poi in poiInfo | unique:'city' ">
            </select>
          </label>

          <label class="item ">
            State:
            <select class = "icon-left" ng-model="data.state" ng-options="poi.id as poi.state for poi in poiInfo | unique:'state' ">
            </select>
          </label>



          <label class="item item-input">
            <input type="text" ng-model="data.zip" placeholder="Zip Code">
          </label>

          <label class="item item-input">
            Flagged?
            <ion-item>
              <ion-checkbox ng-model="data.flag"/>
            </ion-item>
          </label>

          <label class="item item-input">
            Date Flagged:
            <input type="date" ng-model="data.date_flagged_start" style="padding-left:10px">
            to
            <input type="date" ng-model="data.date_flagged_end" style="padding-left:20px">
          </label>
        </div>


        <!--  ADD METHOD CALLS FOR BACK AND SUBMIT -->
        <div align="center">
          <button class="button button-block button-calm half_size " ng-click="applyFilter()" style="max-width:50%">Apply Filter</button>
          <button class="button button-block button-positive half_size " ng-click="resetFilter()" style="max-width:50%">Reset Filter</button>
        </div>
        <div align="center" ng-show="querySuccess">
          <hr>
          <table align="center">
            <tr>
            <th class="text-center" colspan="1">Location Name</th>
            <th class="text-center" colspan="1">City</th>
            <th class="text-center" colspan="1">State</th>
            <th class="text-center" colspan="1">Zip code</th>
            <th class="text-center" colspan="1">Flagged?</th>
            <th class="text-center" colspan="1">Date Flagged</th>
          </tr>
          <tr ng-repeat="i in pendingData">
            <td>{{i.location}}</td>
            <td>{{i.city}}</td>
            <td>{{i.state}}</td>
            <td>{{i.zipCode}}</td>
            <td>{{i.flagged}}</td>
            <td>{{i.dateFlagged}}</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
