.scroll {
    height: 100%;
}
 
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.frame_look_feel {
background-color: red;
}


.scroll-content {
background: url('../img/bg.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
}

.half_size {
max-width:50%;
}

table{
    margin-top: 20px;
    width:100%;
    max-width:500px;
    border-collapse: collapse;
}

th, td {
    
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #0066ff;
    color: white;
    text-align: center;
    
}