.scroll {
    height: 100%;
}
 
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.frame_look_feel {
background-color: red;
}


.scroll-content {
background: url('../img/bg.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
}